[submodule "backends/android"]
	path = backends/android
	url = https://github.com/water-rs/android-backend.git
	branch = dev
[submodule "backends/apple"]
	path = backends/apple
	url = https://github.com/water-rs/apple-backend.git
	branch = dev
[submodule "kit"]
	path = kit
	url = https://github.com/water-rs/waterkit.git
	branch = dev
[submodule "vendor/nami"]
	path = vendor/nami
	url = https://github.com/water-rs/nami.git
	branch = dev
