--swiftversion 6.2
--indent 4
--maxwidth 140
--stripunusedargs closure-only
--exclude .build,.build-shapes,.ci/bin,waterui
--rules blankLinesAtEndOfScope,blankLinesAtStartOfScope,consecutiveBlankLines,spaceAroundOperators,spaceInsideParens
